@font-face {
  font-family: Arial-BoldMT;
  src: url(../fonts/Arial-BoldMT.otf); }
@font-face {
  font-family: lucida-grande;
  src: url(../fonts/lucida-grande.ttf); }
@font-face {
  font-family: avenir;
  font-family: Avenir;
  src: url(../fonts/Avenir.ttc); }
@font-face {
  font-family: Avenir-medium;
  src: url(../fonts/Avenir-Medium.ttf); }
* {
  margin: 0;
  padding: 0; }

.navbar-toggle {
  position: absolute;
  top: 0;
  cursor: pointer;
  right: 0;
  height: 50px;
  width: 33px;
  right: -10	px;
  padding: 0;
  display: none;
  z-index: 9999; }
  .navbar-toggle[navbar-expand=true] span:first-child {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    position: relative;
    bottom: -10px; }
  .navbar-toggle[navbar-expand=true] span:nth-child(2) {
    width: 0px; }
  .navbar-toggle[navbar-expand=true] span:last-child {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    position: relative;
    top: -10px; }
  .navbar-toggle span {
    height: 3px;
    width: 100%;
    background: #000000;
    position: relative;
    display: block;
    margin: 7px 0;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    transition: 0.3s ease; }
    .navbar-toggle span:first-child {
      margin: 4px 0; }

.container-medium {
  width: 100%;
  padding: 0px 46px;
  box-sizing: border-box; }

.list-false {
  list-style: none; }

.capital {
  text-transform: capitalize; }

.full-width {
  width: 100%; }

.container-medial {
  padding: 7px 100px;
  overflow: hidden; }

body {
  overflow-x: hidden;
  -moz-overflow-x: hidden;
  -o-overflow-x: hidden;
  -webkit-overflow-x: hidden;
  -ms-overflow-x: hidden; }

.align-to-vertical {
  display: flex;
  vertical-align: middle;
  align-items: center; }

.both {
  clear: both; }

@media screen and (max-width: 768px) {
  .navbar-toggle {
    display: block; }

  .container-medium {
    padding: 0px 20px; } }
@media screen and (max-width: 550px) {
  .container-medium {
    width: 100%;
    padding: 0px 15px;
    box-sizing: border-box; }

  .col-xxs-12 {
    width: 100%; }

  .col-xxs-11 {
    width: 91.66666667%; }

  .col-xxs-10 {
    width: 83.33333333%; }

  .col-xxs-9 {
    width: 75%; }

  .col-xxs-8 {
    width: 66.66666667%; }

  .col-xxs-7 {
    width: 58.33333333%; }

  .col-xxs-6 {
    width: 50%; }

  .col-xxs-5 {
    width: 41.66666667%; }

  .col-xxs-4 {
    width: 33.33333333%; }

  .col-xxs-3 {
    width: 25%; }

  .col-xxs-2 {
    width: 16.66666667%; }

  .col-xxs-1 {
    width: 8.33333333%; } }

/*# sourceMappingURL=component.css.map */
