@import 'mixin';
@import 'variable';
@import 'animation';
@import 'component.css';
//header
header {
	padding: 10px 0 10px 0;
	z-index: 9999;
	width: 100%;
	@include transition(.2s ease);
	&.scroll {
		position: fixed;
		background: #fff;
		padding: 10px 0 10px 0;
		@include box-shadow(0px 1px 10px 0px rgba(0, 0, 0, 0.18));
		overflow: hidden;
		.header-icon {
			height: 0px;
			overflow: hidden;
		}
		.navbar {
			margin-top: 0px;
			padding: 0px 0;
		}
	}
	overflow: hidden;
	.header-icon {
		@include transition(.2s ease);
		padding: 0;
		.icon-list {
			.icon-data {
				padding: 0px 10px;
				i {
					color: $red;
					font-size: 18px;
					padding-right: 10px;
					position: relative;
					top: 1px;
				}
				&:first-child {
					border-right: 2px solid #e5eaf6;
				}
				span {
					color: $normal-text;
				}
			}
		}
	}
	.logo {
		height: 50px;
		overflow: hidden;

		img {
			height: 100%;
		}
	}
	.navbar {
		@include transition(.2s ease);
		position: relative;
		margin-top: 40px;
		right: 30px;
		overflow: hidden;
		margin-bottom: 0px;
		nav {
			ul {
				li {
					padding: 0 25px;
					float: left;
					&:hover a
					{
						color: #4A567D;
					}
					a {
						font-family: $Playfair;
						text-decoration: none;
						color: $normal-text;
						color: #2a3147;
						font-size: 16px;
						@include transition(.2s ease-in-out);
						font-weight: bold;
					}
				}
			}
		}
	}
}

//banner
section.banner {
	overflow: hidden;
	max-height: 850px;
	height: 850px;
	padding: 0 0 0 0;
	width: 100%;

		background-image: url(../images/bg-hero.png);
			background-size: auto 100%;
		background-position: right;
		position: relative;
		clear: both;
		align-items:center;
		background-repeat: no-repeat;
	.banner-medsos
	{
		height: 850px;
		width: 100px;
		float: left;
		background: #ffff;
		padding-left: 45px;
		display: flex;

			ul {
				li {
					padding: 10px 0;
					font-size: 30px;
					a {
						text-decoration: none;
						&.linkedin {
							color: #58a3d4;
						}
						&.facebook {
							color: #3d5edd;
						}
						&.twitter {
							color: #7fd0ff;
						}
					}
				}
			}


	}

	.baner-data
	{
		float: left;
		height:850px;
		width: calc(100% - 100px);
		vertical-align: middle;
		display: flex;
		align-items:center;
		padding: 50px;
		box-sizing:border-box;
		.banner-title
		{
			display: block;
			clear: both;
			width: 100% !important;
			float: none;
			overflow: hidden;	
			h1
			{

  font-family: $Playfair;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.82;
  letter-spacing: 0.5px;
  text-align: left;
  color: #2a3147;
			}
		}
		.banner-button
		{clear: both;
			padding: 40px 0;
			width: 100%;
			float: none;
			display: block;
				button
				{
					background: $red;
					border:1.5px solid $red;	
					padding: 15px 30px;
					font-size: 14px;
					color: #ffffff;
					border-radius: 2.5px;
					@include transition(.2s ease-in-out);

					&:hover
					{
						background: transparent;
						color: $red;
					}
				}
		}
	}
}


/*roperties*/

section.properties {
	clear: both;
	@include overflow(hidden);
	box-sizing:border-box;
	background: cyan;
	.bg-area {
		width: 100%;
		height: 400px;
		&.bg-top {
			background: #2a3147;
		}
		&.bg-content {
			background: #f5f6f8;
			.area-content {
				top: -175px;
				position: relative;
				overflow: visible;
				.area-pro {
					height: 480px;
					width: 100%;
					display: block;
					background: #fff;
					border-radius: 2.5px;
					padding: 0px 50px;
					box-sizing: border-box;
					position: relative;
					.image-area {
						height: 580px;
						width: 420px;
						position: relative;
						top: -150px;
						border-radius: 2.5px;
						float: left;
						overflow: hidden;
						img {
							width: 100%;
							object-fit: cover;
						}
					}
					.text-area {
						width: 100%;
						padding-left: 440px;
						.area-data {
							width: 100%;
							padding: 35px 25px;
							box-sizing: border-box;
							.area-title {
								h1 {
									font-size: 24px;
									font-weight: 900;
									font-style: normal;
									font-family: $Playfair;
									font-stretch: normal;
									line-height: 1.23;
									letter-spacing: 0.4px;
									text-align: left;
									color: #2a3147;
								}
							}
							.area-desc {
								p {
									padding: 20px 0;
									line-height: 1.86;
									letter-spacing: 0.2px;
									text-align: left;
									color: #8d97b5;
									font-size: 15px;

									font-family: avenir !important;
								}
							}
							.area-button {
								height: auto;
								a
								{
									text-decoration: none;
								}
								button
								{
									background: transparent;
									border:none;
									color: $red;
									font-size: 20px;
									align-items:center;
									display: flex;
									&:focus
									{
										outline: 0;
									}
									strong
									{
										 font-family: PlayfairDisplay;
										  font-size: 20px;
										  font-weight: bold;
										  position: relative;
										  top: -2.4px;
										  font-style: italic;
										  font-stretch: normal;
										  line-height: normal;
										  letter-spacing: 0.2px;
										  text-align: left;
										  color: #e12021;
									}
									&:hover
									{
										
											span
											{
												width: 50px;
											}
										
									}
									span{
										height: 2px !important;
										width: 30px;
										background: $red;
										margin-left: 10px;
										@include transition(.2s ease);

									}
									i
									{
										position: relative;
										left: -5.7px;
										font-size: 24px;
										top: -.588px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}


/*profile*/

section.profile {
	padding: 100px 0;
	overflow: hidden;
	clear: both;
	background: #fff;
	position: relative;
	margin-top: -180px;
	.profile-piture {
		float: right;
		width: 50%;
		
		.profile-container {
			.image-cover {
				float: right;
				height: 500px;
				width: 360px;
				border-radius: 5px;
				margin: 0px 0px 35px 0;
				position: relative;
				.cover-outer {
					background-color: #e12021;
					height: 220px;
					width: 220px;
					position: absolute;
					right: -40px;
					bottom: -50px;
					z-index: 0;
				}
				.cover {
					background: #ffffff;
					height: 100%;
					width: 100%;
					z-index: 999;
					position: relative;
					border-radius: 5px;
					border: solid 14px #e5eaf6;
					.image {
						height: 100%;
						width: 370px;
						position: relative;
						left: -15px;
						bottom: -14px;
						overflow: hidden;
						img {
							width: 100%;
							position: absolute;
							bottom: 0;
							object-fit: cover;
						}
					}
				}
			}
		}
	}
	.profile-text {
		width: 50%;
		float: left;
		padding: 0px 0px 0px 0px;
		box-sizing: border-box;
		.name-title
		{
			font-family: $Playfair;
			 font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: left;
  color: #2a3147;
  font-size: 30px;
		}
		p {
			padding-top: 30px;
			font-size: 14px;
			font-family: avenir;
			line-height: 1.61;
			letter-spacing: 1px;
			 color: #8d97b5;
		}
	}
}

//algunos
section.algunos {
	background: #f5f6f8;
	overflow: hidden;
	padding: 0px 0 90px 0;
	clear: both;
	.algunos-title {
		padding: 50px 0;
		h2
		{
			font-family: avenir;
			 font-size:28px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  text-align: center;
  color: #2a3147;
		}
	}
	.algunos-retangle {
		padding: 20px 20px;
		overflow: hidden;
		box-sizing:border-box;
		.algunos-set {
			height: auto;
			background: #fff;
			@include box-shadow(0 5px 10px -1px rgba(215, 215, 215, 0.5));
			padding: 25px 20px;
			box-sizing: border-box;
			border-radius: 2px;
			position: relative;
			@include transition(.12s linear);
			transition-delay: .01;
			&:hover {
				@include box-shadow(0 6px 20px -1px rgba(176, 176, 176, 0.9));
				margin-top: -10px;
			}
			.icon-set {
				padding: 20px 0 10px 0;
				width: 100%;
				.bg-icon {
					height: 90px;
					width: 90px;
					display: flex;
					border-radius: 100%;
					margin: 0 auto;
					overflow: hidden;
					align-items: center;
					background-color: #fff2f2;
					i {
						color: #e12021;
						display: flex;
						margin: 0 auto;
						font-size: 35px;
					}
				}
			}
			.set-item-title {
				h3 {
					font-family: $Playfair;
					  font-size: 34px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  text-align: center;
  color: #2a3147;
				}
			}
			.set-descript {
				padding: 15px 0;
				p {
					font-size: 14px;
					font-family: avenir;
					  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: center;
  color: #2a3147;
				}
			}
		}
	}
}

//ofrecemos
section.ofrecemos {
	background: #2a3147;
	overflow: hidden;
	padding: 50px 0 100px 0;
	height: auto;
	clear: both;
	.title {
		padding: 0px 0px 50px 0;

		h1
		{
			font-family: avenir;
  font-size: 28px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: center;
  color: #ffffff;
		}
	}
	.list-item {
		color: #fff;
		padding: 18px;
		.item-data {
			border-radius: 2.5px;
			height: 350px;
			border: solid 0.5px #434c68;
			overflow: hidden;
			cursor: pointer;
			margin: 0 auto;
			padding: 20px 20px;
			&.active {
				background: #fff;
				.intitle h1 {
					color: #2a3147 !important;
					span {
						strong {
							background: #2a3147 !important;
						}
					}
				}
				.sub-title h2 {
					color: #2a3147 !important;
				}
			}
			.intitle {
				clear: both;
				height: auto;
				width: 100%;
				overflow: hidden;
				h1 {
					font-family: $Playfair;
					font-size: 20px;
					height: 30px;
					font-weight: 900;
					letter-spacing: 0.6;
					span {
						align-items: center;
						vertical-align: middle;
						left: 10px;
						padding-left: 10px;
						height: 100%;
						display: flex;
						strong {
							height: 2px;
							width: 60px;
							background: #FFF;
							float: left;
							position: relative;
							display: flex;
						}
					}
				}
			}
			.sub-title {
				h2 {
					font-size: 20px;
					font-weight: bold;
					letter-spacing: 0.6px;
					font-family: $Playfair;
				}
			}
			.list-sub {
				color: #8d97b5;
				padding-top: 20px;
				ul {
					li {
						list-style: none;
						line-height: 2.14;
						letter-spacing: 0.6px;
						text-align: left;
						box-sizing: border-box;
						font-weight: 500;
						font-size: 14px;
						left: 15px;
						font-family: avenir;
  text-align: left;
						position: relative;
						&::before {
							height: 5px;
							width: 5px;
							background: #8d97b5;
							content: '';
							position: absolute;
							left: -15px;
							top: 11px;
							border-radius: 100%;
						}
					}
				}
			}
		}
	}
}


/*esperience*/

section.experience {
	padding: 60px 0px;
	box-sizing:border-box;
	overflow: hidden;
	.carousel-experience
{
	padding: 40px;
}
	.carousel-experience .owl-nav.disabled {
		display: block !important;
		position: absolute;
		z-index: -1;
		height: 100%;
		width: 100%;
		top: 0;
		align-items: center;
		display: flex !important;
		vertical-align: middle;
		button {
			font-size: 28px;
			background: #fff;
			border: solid 1px #e5eaf6;
			height: 45px;
			display: block !important;
			width: 45px;
			border-radius: 100%;
			z-index: 999;
			&:focus {
				outline: 0;
			}
			i {
				color: #8d97b5;
			}
			&.owl-prev {
				left: -70px;
				position: relative;
				vertical-align: middle;
				z-index: 999;
			}
			&.owl-next {
				right: 0px;
				position: absolute;
				vertical-align: middle;
				z-index: 999;
			}
		}
	}
	.item {
		padding: 10px 20px 40px 20px ;
	}
	.container-in-sub {
		width: 100%;
		padding: 0px 100px;

	}
	.containt-insub {
		box-shadow: 0 25px 42.5px -8px rgba(232, 233, 234, 0.5);
		padding: 20px 20px;
		height:auto;
		min-height: 500px;

	}
	.in-sub {
		h1 {
			font-family: $Playfair;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			font-size: 28px;
			letter-spacing: 1.1px;
			text-align: center;
			color: #2a3147;
		}
	}
	.symbol {
		h1 {
			font-weight: bold;
			//font-family: $lucida !important;
			max-height: 130px !important;
			overflow: hidden;
			@include transform(rotate(180deg));
			position: relative;
			span {
				font-size: 200px;
				font-weight: bold;
				color: #f2f5fe;
				font-family: lucida-grande;
			}
		}
	}
	.out-sub {
		h1 {
			font-size: 24px;
			font-weight: 500;
			font-style: oblique;
			font-stretch: normal;
			line-height: 1.52;
			letter-spacing: 0.8px;
			word-break: keep-all;
			text-align: center;
			color: #8d97b5;
			font-family: avenir;
		}
	}
}


/*section contact*/

section.contacto {
	padding: 90px 0px 70px 0px;
	background-color: #e12021;
	.text-container
	{
		padding: 0px 20px;
	}
	p {
		color: #fff;
		line-height: 1.85;
		letter-spacing: 0.3px;
		font-size: 16px;
		font-weight: 900;
		  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: 0.3px;
  text-align: center;
		font-family: avenir;
	}
	.button-contact {
		width: 100%;
		padding-top: 60px;
		button {
			background: #fff;
			border: 1.5px solid #fff;
			color: #e12021;
			padding: 12px 25px;
			margin: 0 auto;
			letter-spacing: 0.3px;
			display: flex;
			font-weight: 900;
			font-size: 16px;
			border-radius: 2.5px;
			@include transition(.2s ease-in-out);
			&:hover {
				background: #e12021;
				color: #fff;
				border: 1.5px solid #fff;
			}
		}
	}
}


/*footer-area*/

footer {
	.nav-area-bar
{
	float: right;
	li
	{
		&:last-child
		{
			padding-right: 0px;
		}
		&:first-child
		{
			padding-left: 0px;
		}
	}
}
	.foot-nav {
		padding: 56px 0;
		nav {
			ul {
				li {
					float: left;
					padding: 10px 35px;
					&:last-child {
						padding-right: 0px;
					}
					a {
						text-decoration: none;
						font-size: 16px;
						font-family: $Playfair;
						color: #2a3147;
						font-weight: bold;
					}
				}
			}
		}
	}
	.spacing {
		.space {
			height: 1.8px;
			width: 100%;
			background: #e5eaf6;
		}
	}
	.foot-info {
		.powered {
			padding: 20px 0;
		}
		.media {
			ul {
				li {
					padding: 0px 20px;
					font-size: 25px;
					float: left;
					&:last-child {
						padding-right: 0px;
					}
					a {
						text-decoration: none;
						&.linkedin {
							color: #58a3d4;
						}
						&.facebook {
							color: #3d5edd;
						}
						&.twitter {
							color: #7fd0ff;
						}
					}
				}
			}
		}
	}
}
@import "responsive";