@import url(component.css);
@import url(component.css);
header {
  padding: 10px 0 10px 0;
  z-index: 9999;
  width: 100%;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  transition: 0.2s ease;
  overflow: hidden; }
  header.scroll {
    position: fixed;
    background: #fff;
    padding: 10px 0 10px 0;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.18);
    -o-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.18);
    -ms-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.18);
    overflow: hidden; }
    header.scroll .header-icon {
      height: 0px;
      overflow: hidden; }
    header.scroll .navbar {
      margin-top: 0px;
      padding: 0px 0; }
  header .header-icon {
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    transition: 0.2s ease;
    padding: 0; }
    header .header-icon .icon-list .icon-data {
      padding: 0px 10px; }
      header .header-icon .icon-list .icon-data i {
        color: #e12021;
        font-size: 18px;
        padding-right: 10px;
        position: relative;
        top: 1px; }
      header .header-icon .icon-list .icon-data:first-child {
        border-right: 2px solid #e5eaf6; }
      header .header-icon .icon-list .icon-data span {
        color: #2a3147; }
  header .logo {
    height: 50px;
    overflow: hidden; }
    header .logo img {
      height: 100%; }
  header .navbar {
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    transition: 0.2s ease;
    position: relative;
    margin-top: 40px;
    right: 30px;
    overflow: hidden;
    margin-bottom: 0px; }
    header .navbar nav ul li {
      padding: 0 25px;
      float: left; }
      header .navbar nav ul li:hover a {
        color: #4A567D; }
      header .navbar nav ul li a {
        font-family: "Playfair Display", serif;
        text-decoration: none;
        color: #2a3147;
        color: #2a3147;
        font-size: 16px;
        -webkit-transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        -ms-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
        font-weight: bold; }

section.banner {
  overflow: hidden;
  max-height: 850px;
  height: 850px;
  padding: 0 0 0 0;
  width: 100%;
  background-image: url(../images/bg-hero.png);
  background-size: auto 100%;
  background-position: right;
  position: relative;
  clear: both;
  align-items: center;
  background-repeat: no-repeat; }
  section.banner .banner-medsos {
    height: 850px;
    width: 100px;
    float: left;
    background: #ffff;
    padding-left: 45px;
    display: flex; }
    section.banner .banner-medsos ul li {
      padding: 10px 0;
      font-size: 30px; }
      section.banner .banner-medsos ul li a {
        text-decoration: none; }
        section.banner .banner-medsos ul li a.linkedin {
          color: #58a3d4; }
        section.banner .banner-medsos ul li a.facebook {
          color: #3d5edd; }
        section.banner .banner-medsos ul li a.twitter {
          color: #7fd0ff; }
  section.banner .baner-data {
    float: left;
    height: 850px;
    width: calc(100% - 100px);
    vertical-align: middle;
    display: flex;
    align-items: center;
    padding: 50px;
    box-sizing: border-box; }
    section.banner .baner-data .banner-title {
      display: block;
      clear: both;
      width: 100% !important;
      float: none;
      overflow: hidden; }
      section.banner .baner-data .banner-title h1 {
        font-family: "Playfair Display", serif;
        font-size: 30px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.82;
        letter-spacing: 0.5px;
        text-align: left;
        color: #2a3147; }
    section.banner .baner-data .banner-button {
      clear: both;
      padding: 40px 0;
      width: 100%;
      float: none;
      display: block; }
      section.banner .baner-data .banner-button button {
        background: #e12021;
        border: 1.5px solid #e12021;
        padding: 15px 30px;
        font-size: 14px;
        color: #ffffff;
        border-radius: 2.5px;
        -webkit-transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        -ms-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out; }
        section.banner .baner-data .banner-button button:hover {
          background: transparent;
          color: #e12021; }

/*roperties*/
section.properties {
  clear: both;
  overflow: hidden;
  -moz-overflow: hidden;
  -o-overflow: hidden;
  -webkit-overflow: hidden;
  -ms-overflow: hidden;
  box-sizing: border-box;
  background: cyan; }
  section.properties .bg-area {
    width: 100%;
    height: 400px; }
    section.properties .bg-area.bg-top {
      background: #2a3147; }
    section.properties .bg-area.bg-content {
      background: #f5f6f8; }
      section.properties .bg-area.bg-content .area-content {
        top: -175px;
        position: relative;
        overflow: visible; }
        section.properties .bg-area.bg-content .area-content .area-pro {
          height: 480px;
          width: 100%;
          display: block;
          background: #fff;
          border-radius: 2.5px;
          padding: 0px 50px;
          box-sizing: border-box;
          position: relative; }
          section.properties .bg-area.bg-content .area-content .area-pro .image-area {
            height: 580px;
            width: 420px;
            position: relative;
            top: -150px;
            border-radius: 2.5px;
            float: left;
            overflow: hidden; }
            section.properties .bg-area.bg-content .area-content .area-pro .image-area img {
              width: 100%;
              object-fit: cover; }
          section.properties .bg-area.bg-content .area-content .area-pro .text-area {
            width: 100%;
            padding-left: 440px; }
            section.properties .bg-area.bg-content .area-content .area-pro .text-area .area-data {
              width: 100%;
              padding: 35px 25px;
              box-sizing: border-box; }
              section.properties .bg-area.bg-content .area-content .area-pro .text-area .area-data .area-title h1 {
                font-size: 24px;
                font-weight: 900;
                font-style: normal;
                font-family: "Playfair Display", serif;
                font-stretch: normal;
                line-height: 1.23;
                letter-spacing: 0.4px;
                text-align: left;
                color: #2a3147; }
              section.properties .bg-area.bg-content .area-content .area-pro .text-area .area-data .area-desc p {
                padding: 20px 0;
                line-height: 1.86;
                letter-spacing: 0.2px;
                text-align: left;
                color: #8d97b5;
                font-size: 15px;
                font-family: avenir !important; }
              section.properties .bg-area.bg-content .area-content .area-pro .text-area .area-data .area-button {
                height: auto; }
                section.properties .bg-area.bg-content .area-content .area-pro .text-area .area-data .area-button a {
                  text-decoration: none; }
                section.properties .bg-area.bg-content .area-content .area-pro .text-area .area-data .area-button button {
                  background: transparent;
                  border: none;
                  color: #e12021;
                  font-size: 20px;
                  align-items: center;
                  display: flex; }
                  section.properties .bg-area.bg-content .area-content .area-pro .text-area .area-data .area-button button:focus {
                    outline: 0; }
                  section.properties .bg-area.bg-content .area-content .area-pro .text-area .area-data .area-button button strong {
                    font-family: PlayfairDisplay;
                    font-size: 20px;
                    font-weight: bold;
                    position: relative;
                    top: -2.4px;
                    font-style: italic;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: 0.2px;
                    text-align: left;
                    color: #e12021; }
                  section.properties .bg-area.bg-content .area-content .area-pro .text-area .area-data .area-button button:hover span {
                    width: 50px; }
                  section.properties .bg-area.bg-content .area-content .area-pro .text-area .area-data .area-button button span {
                    height: 2px !important;
                    width: 30px;
                    background: #e12021;
                    margin-left: 10px;
                    -webkit-transition: 0.2s ease;
                    -moz-transition: 0.2s ease;
                    -o-transition: 0.2s ease;
                    -ms-transition: 0.2s ease;
                    transition: 0.2s ease; }
                  section.properties .bg-area.bg-content .area-content .area-pro .text-area .area-data .area-button button i {
                    position: relative;
                    left: -5.7px;
                    font-size: 24px;
                    top: -.588px; }

/*profile*/
section.profile {
  padding: 100px 0;
  overflow: hidden;
  clear: both;
  background: #fff;
  position: relative;
  margin-top: -180px; }
  section.profile .profile-piture {
    float: right;
    width: 50%; }
    section.profile .profile-piture .profile-container .image-cover {
      float: right;
      height: 500px;
      width: 360px;
      border-radius: 5px;
      margin: 0px 0px 35px 0;
      position: relative; }
      section.profile .profile-piture .profile-container .image-cover .cover-outer {
        background-color: #e12021;
        height: 220px;
        width: 220px;
        position: absolute;
        right: -40px;
        bottom: -50px;
        z-index: 0; }
      section.profile .profile-piture .profile-container .image-cover .cover {
        background: #ffffff;
        height: 100%;
        width: 100%;
        z-index: 999;
        position: relative;
        border-radius: 5px;
        border: solid 14px #e5eaf6; }
        section.profile .profile-piture .profile-container .image-cover .cover .image {
          height: 100%;
          width: 370px;
          position: relative;
          left: -15px;
          bottom: -14px;
          overflow: hidden; }
          section.profile .profile-piture .profile-container .image-cover .cover .image img {
            width: 100%;
            position: absolute;
            bottom: 0;
            object-fit: cover; }
  section.profile .profile-text {
    width: 50%;
    float: left;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box; }
    section.profile .profile-text .name-title {
      font-family: "Playfair Display", serif;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 1px;
      text-align: left;
      color: #2a3147;
      font-size: 30px; }
    section.profile .profile-text p {
      padding-top: 30px;
      font-size: 14px;
      font-family: avenir;
      line-height: 1.61;
      letter-spacing: 1px;
      color: #8d97b5; }

section.algunos {
  background: #f5f6f8;
  overflow: hidden;
  padding: 0px 0 90px 0;
  clear: both; }
  section.algunos .algunos-title {
    padding: 50px 0; }
    section.algunos .algunos-title h2 {
      font-family: avenir;
      font-size: 28px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.7px;
      text-align: center;
      color: #2a3147; }
  section.algunos .algunos-retangle {
    padding: 20px 20px;
    overflow: hidden;
    box-sizing: border-box; }
    section.algunos .algunos-retangle .algunos-set {
      height: auto;
      background: #fff;
      box-shadow: 0 5px 10px -1px rgba(215, 215, 215, 0.5);
      -moz-box-shadow: 0 5px 10px -1px rgba(215, 215, 215, 0.5);
      -o-box-shadow: 0 5px 10px -1px rgba(215, 215, 215, 0.5);
      -webkit-box-shadow: 0 5px 10px -1px rgba(215, 215, 215, 0.5);
      -ms-box-shadow: 0 5px 10px -1px rgba(215, 215, 215, 0.5);
      padding: 25px 20px;
      box-sizing: border-box;
      border-radius: 2px;
      position: relative;
      -webkit-transition: 0.12s linear;
      -moz-transition: 0.12s linear;
      -o-transition: 0.12s linear;
      -ms-transition: 0.12s linear;
      transition: 0.12s linear;
      transition-delay: .01; }
      section.algunos .algunos-retangle .algunos-set:hover {
        box-shadow: 0 6px 20px -1px rgba(176, 176, 176, 0.9);
        -moz-box-shadow: 0 6px 20px -1px rgba(176, 176, 176, 0.9);
        -o-box-shadow: 0 6px 20px -1px rgba(176, 176, 176, 0.9);
        -webkit-box-shadow: 0 6px 20px -1px rgba(176, 176, 176, 0.9);
        -ms-box-shadow: 0 6px 20px -1px rgba(176, 176, 176, 0.9);
        margin-top: -10px; }
      section.algunos .algunos-retangle .algunos-set .icon-set {
        padding: 20px 0 10px 0;
        width: 100%; }
        section.algunos .algunos-retangle .algunos-set .icon-set .bg-icon {
          height: 90px;
          width: 90px;
          display: flex;
          border-radius: 100%;
          margin: 0 auto;
          overflow: hidden;
          align-items: center;
          background-color: #fff2f2; }
          section.algunos .algunos-retangle .algunos-set .icon-set .bg-icon i {
            color: #e12021;
            display: flex;
            margin: 0 auto;
            font-size: 35px; }
      section.algunos .algunos-retangle .algunos-set .set-item-title h3 {
        font-family: "Playfair Display", serif;
        font-size: 34px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.9px;
        text-align: center;
        color: #2a3147; }
      section.algunos .algunos-retangle .algunos-set .set-descript {
        padding: 15px 0; }
        section.algunos .algunos-retangle .algunos-set .set-descript p {
          font-size: 14px;
          font-family: avenir;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.6px;
          text-align: center;
          color: #2a3147; }

section.ofrecemos {
  background: #2a3147;
  overflow: hidden;
  padding: 50px 0 100px 0;
  height: auto;
  clear: both; }
  section.ofrecemos .title {
    padding: 0px 0px 50px 0; }
    section.ofrecemos .title h1 {
      font-family: avenir;
      font-size: 28px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.3px;
      text-align: center;
      color: #ffffff; }
  section.ofrecemos .list-item {
    color: #fff;
    padding: 18px; }
    section.ofrecemos .list-item .item-data {
      border-radius: 2.5px;
      height: 350px;
      border: solid 0.5px #434c68;
      overflow: hidden;
      cursor: pointer;
      margin: 0 auto;
      padding: 20px 20px; }
      section.ofrecemos .list-item .item-data.active {
        background: #fff; }
        section.ofrecemos .list-item .item-data.active .intitle h1 {
          color: #2a3147 !important; }
          section.ofrecemos .list-item .item-data.active .intitle h1 span strong {
            background: #2a3147 !important; }
        section.ofrecemos .list-item .item-data.active .sub-title h2 {
          color: #2a3147 !important; }
      section.ofrecemos .list-item .item-data .intitle {
        clear: both;
        height: auto;
        width: 100%;
        overflow: hidden; }
        section.ofrecemos .list-item .item-data .intitle h1 {
          font-family: "Playfair Display", serif;
          font-size: 20px;
          height: 30px;
          font-weight: 900;
          letter-spacing: 0.6; }
          section.ofrecemos .list-item .item-data .intitle h1 span {
            align-items: center;
            vertical-align: middle;
            left: 10px;
            padding-left: 10px;
            height: 100%;
            display: flex; }
            section.ofrecemos .list-item .item-data .intitle h1 span strong {
              height: 2px;
              width: 60px;
              background: #FFF;
              float: left;
              position: relative;
              display: flex; }
      section.ofrecemos .list-item .item-data .sub-title h2 {
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0.6px;
        font-family: "Playfair Display", serif; }
      section.ofrecemos .list-item .item-data .list-sub {
        color: #8d97b5;
        padding-top: 20px; }
        section.ofrecemos .list-item .item-data .list-sub ul li {
          list-style: none;
          line-height: 2.14;
          letter-spacing: 0.6px;
          text-align: left;
          box-sizing: border-box;
          font-weight: 500;
          font-size: 14px;
          left: 15px;
          font-family: avenir;
          text-align: left;
          position: relative; }
          section.ofrecemos .list-item .item-data .list-sub ul li::before {
            height: 5px;
            width: 5px;
            background: #8d97b5;
            content: '';
            position: absolute;
            left: -15px;
            top: 11px;
            border-radius: 100%; }

/*esperience*/
section.experience {
  padding: 60px 0px;
  box-sizing: border-box;
  overflow: hidden; }
  section.experience .carousel-experience {
    padding: 40px; }
  section.experience .carousel-experience .owl-nav.disabled {
    display: block !important;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    top: 0;
    align-items: center;
    display: flex !important;
    vertical-align: middle; }
    section.experience .carousel-experience .owl-nav.disabled button {
      font-size: 28px;
      background: #fff;
      border: solid 1px #e5eaf6;
      height: 45px;
      display: block !important;
      width: 45px;
      border-radius: 100%;
      z-index: 999; }
      section.experience .carousel-experience .owl-nav.disabled button:focus {
        outline: 0; }
      section.experience .carousel-experience .owl-nav.disabled button i {
        color: #8d97b5; }
      section.experience .carousel-experience .owl-nav.disabled button.owl-prev {
        left: -70px;
        position: relative;
        vertical-align: middle;
        z-index: 999; }
      section.experience .carousel-experience .owl-nav.disabled button.owl-next {
        right: 0px;
        position: absolute;
        vertical-align: middle;
        z-index: 999; }
  section.experience .item {
    padding: 10px 20px 40px 20px; }
  section.experience .container-in-sub {
    width: 100%;
    padding: 0px 100px; }
  section.experience .containt-insub {
    box-shadow: 0 25px 42.5px -8px rgba(232, 233, 234, 0.5);
    padding: 20px 20px;
    height: auto;
    min-height: 500px; }
  section.experience .in-sub h1 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    font-size: 28px;
    letter-spacing: 1.1px;
    text-align: center;
    color: #2a3147; }
  section.experience .symbol h1 {
    font-weight: bold;
    max-height: 130px !important;
    overflow: hidden;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    position: relative; }
    section.experience .symbol h1 span {
      font-size: 200px;
      font-weight: bold;
      color: #f2f5fe;
      font-family: lucida-grande; }
  section.experience .out-sub h1 {
    font-size: 24px;
    font-weight: 500;
    font-style: oblique;
    font-stretch: normal;
    line-height: 1.52;
    letter-spacing: 0.8px;
    word-break: keep-all;
    text-align: center;
    color: #8d97b5;
    font-family: avenir; }

/*section contact*/
section.contacto {
  padding: 90px 0px 70px 0px;
  background-color: #e12021; }
  section.contacto .text-container {
    padding: 0px 20px; }
  section.contacto p {
    color: #fff;
    line-height: 1.85;
    letter-spacing: 0.3px;
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: 0.3px;
    text-align: center;
    font-family: avenir; }
  section.contacto .button-contact {
    width: 100%;
    padding-top: 60px; }
    section.contacto .button-contact button {
      background: #fff;
      border: 1.5px solid #fff;
      color: #e12021;
      padding: 12px 25px;
      margin: 0 auto;
      letter-spacing: 0.3px;
      display: flex;
      font-weight: 900;
      font-size: 16px;
      border-radius: 2.5px;
      -webkit-transition: 0.2s ease-in-out;
      -moz-transition: 0.2s ease-in-out;
      -o-transition: 0.2s ease-in-out;
      -ms-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out; }
      section.contacto .button-contact button:hover {
        background: #e12021;
        color: #fff;
        border: 1.5px solid #fff; }

/*footer-area*/
footer .nav-area-bar {
  float: right; }
  footer .nav-area-bar li:last-child {
    padding-right: 0px; }
  footer .nav-area-bar li:first-child {
    padding-left: 0px; }
footer .foot-nav {
  padding: 56px 0; }
  footer .foot-nav nav ul li {
    float: left;
    padding: 10px 35px; }
    footer .foot-nav nav ul li:last-child {
      padding-right: 0px; }
    footer .foot-nav nav ul li a {
      text-decoration: none;
      font-size: 16px;
      font-family: "Playfair Display", serif;
      color: #2a3147;
      font-weight: bold; }
footer .spacing .space {
  height: 1.8px;
  width: 100%;
  background: #e5eaf6; }
footer .foot-info .powered {
  padding: 20px 0; }
footer .foot-info .media ul li {
  padding: 0px 20px;
  font-size: 25px;
  float: left; }
  footer .foot-info .media ul li:last-child {
    padding-right: 0px; }
  footer .foot-info .media ul li a {
    text-decoration: none; }
    footer .foot-info .media ul li a.linkedin {
      color: #58a3d4; }
    footer .foot-info .media ul li a.facebook {
      color: #3d5edd; }
    footer .foot-info .media ul li a.twitter {
      color: #7fd0ff; }

@media screen and (min-width: 1440px) {
  body {
    box-sizing: border-box;
    max-width: 1440px !important;
    width: 1440px !important;
    margin: 0 auto; }

  header {
    overflow: hidden;
    max-width: 1440px !important; } }
@media screen and (min-width: 1024px) {
  header .navbar nav ul li:last-child {
    padding-right: 0px; } }
@media screen and (max-width: 768px) {
  .container-medium {
    overflow: visible;
    box-sizing: border-box;
    padding: 0px 0px;
    position: relative !important;
    clear: both;
    margin: 0 auto; }

  .navbar-toggle {
    position: relative;
    top: -5px; }

  .container-medial {
    padding: 7px 0px; }

  header {
    padding: 0px 20px;
    overflow: visible !important; }
    header.scroll {
      position: relative;
      background: #fff;
      padding: 10px 20px	 10px 20px;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0);
      -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0);
      -o-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0);
      -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0);
      -ms-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0);
      overflow: visible; }
      header.scroll .header-icon {
        height: auto;
        overflow: hidden; }
      header.scroll .navbar {
        margin-top: 0px;
        padding: 0px 0px;
        overflow: visible !important; }
    header .logo {
      position: absolute;
      left: 0;
      float: none !important;
      clear: both;
      max-height: 50px;
      overflow: hidden;
      z-index: 9999; }
      header .logo img {
        height: 40px;
        top: 5px;
        position: relative; }
    header .navbar {
      width: 100%;
      position: absolute;
      right: 0px;
      box-sizing: border-box;
      border-radius: 0px !important;
      clear: both;
      padding: 0px 0px;
      top: 0;
      height: 0px !important;
      overflow: visible !important;
      float: none !important; }
      header .navbar nav {
        position: absolute;
        z-index: 999;
        padding-top: 10px;
        display: none;
        border-radius: 0px 0px 2.5px 2.5px;
        overflow: hidden !important;
        width: 100%;
        top: 0px;
        background: #fff;
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1); }
        header .navbar nav ul li {
          float: none;
          width: 100%;
          padding: 10px 10px; }
    header .header-nav {
      width: 100%;
      clear: both;
      position: relative;
      background: #fff; }

  header .header-icon .icon-list .icon-data:first-child {
    padding-left: 0px; }
    header .header-icon .icon-list .icon-data:first-child i {
      padding-right: 5px; }

  header .header-icon .icon-list .icon-data:last-child {
    padding-right: 0px; }
    header .header-icon .icon-list .icon-data:last-child i {
      padding-right: 5px; }

  /*profile */
  section.profile .profile-text {
    width: 100%;
    padding: 40px 20px 20px 20px; }
    section.profile .profile-text h2 {
      text-align: center !important; }

  section.profile .profile-piture {
    width: 100%; }
    section.profile .profile-piture .profile-container {
      margin: 0 auto;
      clear: both;
      width: 100%;
      padding: 50px 0; }

  section.profile .profile-piture .profile-container .image-cover {
    margin: 0 auto;
    float: none;
    clear: both; }

  /*ofrecemos */
  section.ofrecemos .list-item:last-child {
    float: none;
    margin: 0 auto; }

  /*footer*/
  footer .foot-nav .logo {
    width: 100%; }
    footer .foot-nav .logo .logo-container {
      clear: both;
      margin: 0 auto;
      display: flex;
      width: auto;
      width: 175px;
      overflow: hidden;
      padding: 20px 0; }
  footer .foot-nav .nav-area-bar {
    width: 100%;
    clear: both;
    float: none; }
    footer .foot-nav .nav-area-bar nav {
      width: 100%; }
      footer .foot-nav .nav-area-bar nav ul {
        width: 100%;
        overflow: hidden;
        float: none;
        width: 550px;
        margin: 0 auto; }
        footer .foot-nav .nav-area-bar nav ul li {
          padding: 10px 15px; }

  /*properties*/
  section.properties {
    clear: both; }
    section.properties .bg-area {
      width: 100%; }
      section.properties .bg-area.bg-top {
        background: #2a3147; }
      section.properties .bg-area.bg-content {
        background: #f5f6f8;
        height: 800px !important;
        display: block; }
        section.properties .bg-area.bg-content .area-content {
          top: -175px;
          position: relative;
          overflow: visible; }
          section.properties .bg-area.bg-content .area-content .area-pro {
            height: 400px;
            width: 100%;
            display: block;
            background: #fff;
            border-radius: 2.5px;
            padding: 0px 0px;
            box-sizing: border-box;
            position: relative; }
            section.properties .bg-area.bg-content .area-content .area-pro .image-area {
              height: 500px;
              width: 100% !important;
              position: relative;
              top: -150px;
              border-radius: 2.5px;
              float: left;
              overflow: hidden; }
              section.properties .bg-area.bg-content .area-content .area-pro .image-area .image-container {
                max-width: 350px;
                height: 500px;
                overflow: hidden;
                display: flex;
                margin: 0 auto;
                border-radius: 2.5px;
                background: cyan; }
              section.properties .bg-area.bg-content .area-content .area-pro .image-area img {
                width: 100%;
                object-fit: cover; }
            section.properties .bg-area.bg-content .area-content .area-pro .text-area {
              width: 100%;
              padding-left: 0px;
              top: -30px;
              position: relative; }
              section.properties .bg-area.bg-content .area-content .area-pro .text-area .area-data {
                width: 100%;
                padding: 5px 25px;
                overflow: visible;
                box-sizing: border-box; }
                section.properties .bg-area.bg-content .area-content .area-pro .text-area .area-data .area-title h1 {
                  font-size: 24px;
                  font-weight: 900;
                  font-style: normal;
                  font-family: "Playfair Display", serif;
                  font-stretch: normal;
                  line-height: 1.23;
                  letter-spacing: 0.4px;
                  text-align: left;
                  color: #2a3147; }
                section.properties .bg-area.bg-content .area-content .area-pro .text-area .area-data .area-desc p {
                  padding: 20px 0;
                  line-height: 1.86;
                  letter-spacing: 0.2px;
                  text-align: left;
                  color: #8d97b5;
                  font-family: avenir !important; }
                section.properties .bg-area.bg-content .area-content .area-pro .text-area .area-data .area-button {
                  height: auto; }
                  section.properties .bg-area.bg-content .area-content .area-pro .text-area .area-data .area-button a {
                    text-decoration: none; }
                  section.properties .bg-area.bg-content .area-content .area-pro .text-area .area-data .area-button button {
                    background: transparent;
                    border: none;
                    color: #e12021;
                    font-size: 20px;
                    align-items: center;
                    display: flex; }
                    section.properties .bg-area.bg-content .area-content .area-pro .text-area .area-data .area-button button:focus {
                      outline: 0; }
                    section.properties .bg-area.bg-content .area-content .area-pro .text-area .area-data .area-button button strong {
                      font-family: PlayfairDisplay;
                      font-size: 20px;
                      font-weight: bold;
                      font-style: italic;
                      font-stretch: normal;
                      line-height: normal;
                      letter-spacing: 0.2px;
                      text-align: left;
                      color: #e12021; }
                    section.properties .bg-area.bg-content .area-content .area-pro .text-area .area-data .area-button button:hover span {
                      width: 50px; }
                    section.properties .bg-area.bg-content .area-content .area-pro .text-area .area-data .area-button button span {
                      height: 2px !important;
                      width: 30px;
                      background: #e12021;
                      margin-left: 10px;
                      -webkit-transition: 0.2s ease;
                      -moz-transition: 0.2s ease;
                      -o-transition: 0.2s ease;
                      -ms-transition: 0.2s ease;
                      transition: 0.2s ease; }
                    section.properties .bg-area.bg-content .area-content .area-pro .text-area .area-data .area-button button i {
                      position: relative;
                      left: -5.7px;
                      font-size: 24px;
                      top: -.588px; }

  section.experience .container-in-sub {
    padding: 0px 50px; }

  section.experience .carousel-experience .owl-nav.disabled button.owl-prev {
    left: -40px; }

  section.experience .carousel-experience .owl-nav.disabled button.owl-next {
    right: 30px; }

  section.experience .containt-insub {
    height: auto; } }
@media screen and (max-width: 700px) {
  section.experience .container-in-sub {
    padding: 0px 0px; }
    section.experience .container-in-sub h1 {
      font-size: 24px; }

  section.experience .out-sub h1 {
    font-size: 20px; } }
@media screen and (max-width: 650px) {
  footer .foot-nav nav ul li {
    padding: 10px 15px; } }
@media screen and (max-width: 600px) {
  section.ofrecemos .list-item:last-child {
    display: block; }

  footer .foot-nav .nav-area-bar nav ul {
    width: 100% !important; }

  footer .foot-nav .logo .logo-container img {
    height: 50px;
    position: relative;
    right: -15px; }

  footer .nav-area-bar {
    width: 100%;
    clear: both;
    float: none; }
    footer .nav-area-bar nav {
      width: 100%;
      overflow: hidden; }
      footer .nav-area-bar nav ul {
        width: 100%;
        clear: both; }
        footer .nav-area-bar nav ul li {
          padding: 10px 15px;
          text-align: center;
          width: 100% !important; } }
@media screen and (max-width: 555px) {
  header .header-icon .icon-list {
    display: flex;
    justify-content: center;
    width: 100%;
    float: none;
    clear: both;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    display: flex; }

  section.banner {
    max-height: 500px;
    height: 500px; }
    section.banner .baner-data {
      height: 400px;
      width: 100%;
      padding: 0 15px; }
      section.banner .baner-data .banner-title h1 {
        font-size: 24px; }
      section.banner .baner-data .banner-button {
        padding: 20px 0px 0px 0px; }
        section.banner .baner-data .banner-button button {
          padding: 10px 20px; }

  section.banner .banner-medsos {
    background: transparent;
    float: none;
    width: 100%;
    height: auto;
    padding-left: 0px; }
    section.banner .banner-medsos ul {
      clear: both;
      width: 100%;
      padding-top: 10px;
      display: flex;
      clear: both;
      align-items: center;
      align-content: center;
      justify-content: center;
      text-align: center; }
      section.banner .banner-medsos ul li {
        float: left;
        height: 50px;
        padding: 5px;
        width: 50px;
        margin: 0px 5px;
        border-radius: 2.5px;
        background: transparent; }

  section.properties .bg-area.bg-content .area-content .area-pro .text-area .area-data .area-title h1 {
    font-size: 20px; }

  section.properties .bg-area.bg-content .area-content .area-pro .text-area .area-data .area-desc p {
    font-size: 13px; }
    section.properties .bg-area.bg-content .area-content .area-pro .text-area .area-data .area-desc p:last-child {
      padding-bottom: 10px; } }
@media screen and (max-width: 455px) {
  section.properties .bg-area.bg-content .area-content .area-pro .text-area .area-data .area-title h1 {
    margin-top: -10px; }

  section.properties .bg-area.bg-content .area-content .area-pro {
    height: 400px; }
    section.properties .bg-area.bg-content .area-content .area-pro .image-container {
      height: 400px;
      width: 280px; }

  section.properties .bg-area.bg-content .area-content .area-pro .text-area .area-data {
    padding: 5px 0; }

  footer .foot-info .powered {
    width: 100%;
    float: none !important;
    clear: both;
    padding: 15px 0 10px 0; }
    footer .foot-info .powered p {
      text-align: center;
      width: 100%;
      margin: 0 auto;
      float: none;
      clear: both; }

  footer .foot-info .media {
    width: 100%;
    clear: both;
    float: none;
    padding: 0px 0 10px 0; }
    footer .foot-info .media ul {
      clear: both;
      display: flex;
      margin: 0 auto;
      text-align: center;
      align-items: center;
      align-content: center;
      justify-content: center; }
      footer .foot-info .media ul li {
        float: none;
        clear: both; } }
@media screen and (max-width: 400px) {
  section.properties .bg-area.bg-content .area-content .area-pro {
    height: 220px; }

  section.properties .bg-area.bg-content .area-content .area-pro .image-area {
    height: 300px; }

  section.properties .bg-area.bg-content .area-content .area-pro .image-area .image-container {
    height: 350px;
    width: 260px; }

  section.properties .bg-area.bg-content {
    height: 650px !important; }

  section.profile {
    padding: 50px 0; }

  section.profile .profile-piture .profile-container .image-cover {
    width: 280px;
    height: 380px; }

  section.profile .profile-piture .profile-container .image-cover .cover .image {
    width: 285px;
    height: 380px;
    bottom: 14px; }

  section.profile .profile-text .name-title {
    font-size: 28px; }

  section.experience .out-sub h1 {
    font-size: 16px; }

  section.experience .item {
    padding: 10px 10px 40px 10px; }

  section.experience .carousel-experience {
    padding: 15px; }

  section.experience .carousel-experience .owl-nav.disabled {
    z-index: 1; }

  section.experience .carousel-experience .owl-nav.disabled button.owl-prev {
    left: -25px; }

  section.experience .carousel-experience .owl-nav.disabled {
    height: 50px;
    display: flex;
    vertical-align: middle;
    position: absolute;
    top: calc(50% - 25px); }

  section.experience .carousel-experience .owl-nav.disabled button.owl-next {
    right: 15px; }

  section.contacto .button-contact button {
    padding: 10px 20px; } }

/*# sourceMappingURL=main.style.css.map */
