	@import 'mixin';
@import 'variable';
@import 'animation';

@import 'variable';
@import 'animation';
@import 'component.css';

@media screen and (min-width: 1440px)
{
	body
	{
	box-sizing:border-box;
	max-width: 1440px !important;
	width: 1440px !important;
	margin: 0 auto;

	}
header	
{
overflow: hidden;
max-width: 1440px !important;
}

}

@media screen and (min-width: 1024px)
{
	header .navbar nav ul li:last-child
	{
		padding-right: 0px;
	}

}
@media screen and (max-width: 768px)
{

	.container-medium
	{
		overflow: visible;
		box-sizing:border-box;
		padding: 0px 0px;
		position: relative !important;
		clear: both;
		margin:0 auto;	

	}
	.navbar-toggle
	{
		position: relative;
		top: -5px;
	}
	.container-medial
		{
			padding: 7px 0px; 


		}

	header
	{
		padding: 0px 20px;
		overflow: visible !important;

		&.scroll {
		position: relative;
		background: #fff;
		padding: 10px 20px	 10px 20px;
		@include box-shadow(0px 2px 5px 0px rgba(0, 0, 0,0));
		overflow: visible;




		.header-icon {
			height: auto;
			overflow: hidden;
		}
		.navbar {
			margin-top: 0px;
			padding: 0px 0px;
			overflow: visible !important;
		}
	}
		.logo
		{
			position: absolute;
			left: 0;
			float: none !important;
			clear: both;
			max-height: 50px;
			overflow: hidden;

			z-index: 9999;

			img
			{
				height: 40px;
				top: 5px;
				position: relative;
			}
		}

		.navbar
		{
			width: 100%;
			position: absolute;
			right: 0px;
			box-sizing:border-box;
			border-radius: 0px !important;
			clear: both;
			padding: 0px 0px;
			top: 0;
			height: 0px !important; 
			overflow: visible !important;
			float: none !important;


			nav{
			position:absolute;	
			z-index: 999;
			padding-top: 10px;
			display: none;
			border-radius: 0px 0px 2.5px 2.5px;
			overflow: hidden !important;
			width: 100%;
			top: 0px;
			background: #fff;
			box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);


				ul
				{
					li
					{
						float: none;
						width: 100%;
						padding: 10px 10px;
					}
				}
			}

		}


		.header-nav
		{
			width: 100%;
			clear: both;
			position: relative;	
			background: #fff;
		}

	}

header .header-icon .icon-list .icon-data:first-child
{
	padding-left: 0px;
	i
	{
		padding-right: 5px
	}
}

header .header-icon .icon-list .icon-data:last-child
{
	padding-right: 0px;
	i
	{
		padding-right: 5px
	}
}
//banner
section.banner
{
	.banner-medsos
	{

	}
}



/*profile */
section.profile .profile-text
{
	width: 100%;

	padding: 40px 20px 20px 20px;
	h2
	{
		text-align: center !important;
	}
}

section.profile .profile-piture
{
	width: 100%;
	.profile-container
	{
		margin:0 auto;
		clear: both;
		width: 100%;
		padding: 50px 0;
	}
}


section.profile .profile-piture .profile-container .image-cover
{
	margin: 0 auto;
	float: none;
	clear: both;

}



/*ofrecemos */

section.ofrecemos .list-item:last-child
{
	float: none;
	margin: 0 auto;
}
/*footer*/

footer .foot-nav
{
	.logo
	{
		width: 100%;

		.logo-container
		{
			clear: both;
			margin: 0 auto;
			display: flex;
			width: auto;
			width: 175px;
			overflow: hidden;
			padding: 20px 0;

			a
			{

			}
		}
	}
		.nav-area-bar
		{
			width: 100%;
			clear: both;
			float: none;
			nav
			{
	
				width: 100%;
				ul
				{
					width: 100%;
					
					overflow: hidden;
					float: none;
					width: 550px;
					
					margin: 0 auto;
					
						li{
							padding: 10px 15px;
						}
					
				}
			}
		}
}
/*properties*/

section.properties {
	clear: both;
	.bg-area {
		width: 100%;
		&.bg-top {
			background: #2a3147;
		}
		&.bg-content {
			background: #f5f6f8;
			height: 800px !important;
			display: block;
			.area-content {
				top: -175px;
				position: relative;
				overflow: visible;
				.area-pro {
					height: 400px;
					width: 100%;
					display: block;
					background: #fff;
					border-radius: 2.5px;
					padding: 0px 0px;
					box-sizing: border-box;
					position: relative;
					.image-area {
						height: 500px;
						width: 100% !important;
						position: relative;
						top: -150px;
						border-radius: 2.5px;
						float: left;
						overflow: hidden;
						.image-container
						{
							max-width: 350px;
							height: 500px;
							overflow: hidden;
							display: flex;
							margin: 0 auto;
							border-radius: 2.5px;
							background: cyan;
						}	
						img {
							width: 100%;
							object-fit: cover;
						}
					}
					.text-area {
						width: 100%;
						padding-left: 0px;
						top: -30px;
						position: relative;
						.area-data {
							width: 100%;
							padding: 5px 25px;
							overflow: visible;
							box-sizing: border-box;
							.area-title {
								h1 {
									font-size: 24px;
									font-weight: 900;
									font-style: normal;
									font-family: $Playfair;
									font-stretch: normal;
									line-height: 1.23;
									letter-spacing: 0.4px;
									text-align: left;
									color: #2a3147;
								}
							}
							.area-desc {
								p {
									padding: 20px 0;
									line-height: 1.86;
									letter-spacing: 0.2px;
									text-align: left;
									color: #8d97b5;
									font-family: avenir !important;
								}
							}
							.area-button {
								height: auto;
								a
								{
									text-decoration: none;
								}
								button
								{
									background: transparent;
									border:none;
									color: $red;
									font-size: 20px;
									align-items:center;
									display: flex;
									&:focus
									{
										outline: 0;
									}
									strong
									{
										 font-family: PlayfairDisplay;
										  font-size: 20px;
										  font-weight: bold;
										  font-style: italic;
										  font-stretch: normal;
										  line-height: normal;
										  letter-spacing: 0.2px;
										  text-align: left;
										  color: #e12021;
									}
									&:hover
									{
										
											span
											{
												width: 50px;
											}
										
									}
									span{
										height: 2px !important;
										width: 30px;
										background: $red;
										margin-left: 10px;
										@include transition(.2s ease);

									}
									i
									{
										position: relative;
										left: -5.7px;
										font-size: 24px;
										top: -.588px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

section.experience .container-in-sub
{
	padding: 0px 50px;
}

section.experience .carousel-experience .owl-nav.disabled button.owl-prev
{
	left: -40px;
}
section.experience .carousel-experience .owl-nav.disabled button.owl-next
{
	right: 30px;
}
section.experience .containt-insub
{
	height: auto;

}
}
@media screen and (max-width: 700px)
{
	section.experience .container-in-sub
	{
		padding: 0px 0px;
		h1
		{
			font-size: 24px;
		}
	
	}
	section.experience .out-sub h1
	{
		font-size: 20px;
	}
}

@media screen and (max-width: 650px)
{
	footer .foot-nav  nav ul li
	{
		padding: 10px 15px;

	}
}
@media screen and (max-width: 600px)
{
	section.ofrecemos .list-item:last-child
	{
		display: block;
	}
footer .foot-nav .nav-area-bar nav ul
{
	width: 100% !important;
}

footer .foot-nav .logo .logo-container
{
	img
	{
		height: 50px;
		position: relative;
		right: -15px;
	}
}
footer
{
	.nav-area-bar
		{
			width: 100%;
			clear: both;
			float: none;
			nav
			{
	
				width: 100%;
				overflow: hidden;
				ul
				{
					width: 100%;
					clear: both;
					
						li{
							padding: 10px 15px;
							text-align: center;
							width: 100% !important;
						}
					
				}
			}
		}
	}
}


@media screen and (max-width: 555px)
{
header .header-icon .icon-list
{
	display: flex;
	justify-content:center;
	width: 100%;
	float: none;
	clear: both;
	align-items:center;
	align-content:center;
	margin: 0 auto;
	display: flex;

	
}

section.banner
{
	max-height: 500px;
	height: 500px;
	.baner-data
	{
		height: 400px;
		width: 100%;
		padding: 0 15px;
		.banner-title h1{
			font-size: 24px;
		}
		  .banner-button{
		 padding: 20px 0px 0px 0px;
		 button
		 {
		 	padding: 10px 20px;
		 }}
	}
}
section.banner .banner-medsos
{
	background: transparent;
	float: none;
	width: 100%;
	height: auto;
	padding-left: 0px;


	ul
	{
		clear: both;
		width: 100%;
		padding-top: 10px;
		@include align_center();
		li
		{
			float: left;	
			height: 50px ;
			padding: 5px;
			width: 50px;
			margin: 0px 5px;
			border-radius: 2.5px;
			background: transparent;

		}
	}
}

section.properties .bg-area.bg-content .area-content .area-pro .text-area .area-data .area-title h1
{
	font-size: 20px;
}
section.properties .bg-area.bg-content .area-content .area-pro .text-area .area-data .area-desc p
{
	font-size: 13px;
	&:last-child
	{
		padding-bottom: 10px;
	}
}

}

@media screen and (max-width: 455px)
{
	section.properties .bg-area.bg-content .area-content .area-pro .text-area .area-data .area-title h1
	{
		margin-top: -10px;
	}
	section.properties .bg-area.bg-content .area-content .area-pro  {
		height: 400px;

		.image-container
	{
		height: 400px;
		width: 280px;
	}}
section.properties .bg-area.bg-content .area-content .area-pro .text-area .area-data
{
	padding: 5px 0;
}

	footer .foot-info .powered
	{
		width: 100%;
		float: none !important;
		clear: both;
		padding: 15px 0 10px 0;
		p{
			text-align: center;
			width: 100%;
			margin: 0 auto;
			float: none;
			clear: both;
		}
	}
	footer .foot-info .media
	{
		width: 100%;
		clear: both;
		float: none;
		padding: 0px 0 10px 0;
		ul
		{
			clear: both;
			display: flex;
			margin: 0 auto;
			text-align: center;
			align-items:center;
			align-content:center;
			justify-content:center;
			li
			{
				float: none;
				clear: both;
			}

		}

	}
}
@media screen and (max-width: 400px)
{
	section.properties .bg-area.bg-content .area-content .area-pro
	{
		height: 220px;
	}
	section.properties .bg-area.bg-content .area-content .area-pro .image-area
	{
		height: 300px;
	}
	section.properties .bg-area.bg-content .area-content .area-pro .image-area .image-container
	{
		height: 350px;
		width: 260px;
	}
	section.properties .bg-area.bg-content
	{
		height: 650px !important;
	}

	section.profile
	{
		padding: 50px 0;
	}
	section.profile .profile-piture .profile-container .image-cover
	{
		width: 280px;
		height: 380px;
	}
	section.profile .profile-piture .profile-container .image-cover .cover .image
	{
		width: 285px;
		height: 380px;
		bottom: 14px;
	}
	section.profile .profile-text .name-title
	{
		font-size: 28px;
	}
	section.experience .out-sub h1
	{
		font-size: 16px;
	}
	section.experience .item
	{
		    padding: 10px 10px 40px 10px;
	}
	section.experience .carousel-experience
	{
		padding: 15px;
	}
	section.experience .carousel-experience .owl-nav.disabled
	{
		z-index: 1;
	}
	section.experience .carousel-experience .owl-nav.disabled button.owl-prev
	{
		left: -25px;
	}
	section.experience .carousel-experience .owl-nav.disabled
	{

		height: 50px;
		display: flex;
		vertical-align: middle;
		position: absolute;
		top: calc(50% - 25px);
	}
	section.experience .carousel-experience .owl-nav.disabled button.owl-next
	{
		right: 15px;
	}
	section.contacto .button-contact button
	{
		padding: 10px 20px;
	}
	}