@import 'mixin';
$line:#e5eaf6;
$devault-icon: #e5eaf6;
$Playfair: 'Playfair Display', serif;
$arial:arial;
$normal-text:#2a3147;
$red:#e12021;
$lucida : lucida-grande;
$avenir-m:Avenir-medium;


@mixin align_center()
{
	display: flex;
	clear: both;
	align-items:center;
	align-content:center;
	justify-content:center;
	text-align: center;
	
}