@import 'mixin';
@import 'variable';

@fontface
{
	font-family: Arial-BoldMT;
	src:url(../fonts/Arial-BoldMT.otf);
}

*{
	margin: 0;
	padding: 0;
}

.navbar-toggle
{
	position: absolute;
	top: 0;
	cursor: pointer;
	right: 0;
	height: 50px;
	width: 33px;
	right: -10	px;
	padding: 0;
	display: none;
	z-index: 9999;
	&[navbar-expand=true]
	{ 
		span:first-child
		{
			@include transform(rotate(45deg));
			position: relative;
			bottom: -10px;
		}
		span:nth-child(2)
		{
			width: 0px;
		}
		span:last-child
		{
			@include transform(rotate(-45deg));
			position: relative;
			top: -10px;
		}
	}
	span
	{
		height: 3px;
		width: 100%;
		background: #000000;
		position: relative;
		display: block;
		margin: 7px 0;
		@include transition(.3s ease);
		&:first-child
		{
			margin: 4px 0;
		}
	}
}
.container-medium
{
	width: 100%;
	padding: 0px 46px;
	box-sizing:border-box;
}
.list-false
{
	list-style: none;
}
.capital
{
	text-transform: capitalize;
}
body
{
	@include overflow-x(hidden);
}


@media screen and (max-width: 768px)
{

.navbar-toggle
{
	display: block;
}

.container-medium
{
	padding: 0px 20px;
}
}

@media screen and (max-width: 550px)
{
	.container-medium
{
	width: 100%;
	padding: 0px 15px;
	box-sizing:border-box;
}
	
.col-xxs-12 {
  width: 100%;
}
.col-xxs-11 {
  width: 91.66666667%;
}
.col-xxs-10 {
  width: 83.33333333%;
}
.col-xxs-9 {
  width: 75%;
}
.col-xxs-8 {
  width: 66.66666667%;
}
.col-xxs-7 {
  width: 58.33333333%;
}
.col-xxs-6 {
  width: 50%;
}
.col-xxs-5 {
  width: 41.66666667%;
}
.col-xxs-4 {
  width: 33.33333333%;
}
.col-xxs-3 {
  width: 25%;
}
.col-xxs-2 {
  width: 16.66666667%;
}
.col-xxs-1 {
  width: 8.33333333%;
}
}
