@import 'mixin';
@import 'variable';
@import 'animation';
@import 'component.css';
header 
{
	.top-header 
	{
		height:auto;
		width: 100%;

		.list-icon
		{
			padding:  20px 0 10px 0;
			ul
			{

				li
				{
					float: left;
					padding:  0px  8px ;
										a
					{
						text-decoration: none;
						color: $devault-icon;
						transition:.2s ease;
						&.facebook
						{
							font-size: 26px;
							&:hover
						{
							color: rgba(79,101,178,.7);
							
						}
						}
						&.twitter
						{
							font-size: 26px;
							&:hover
						{
							color: #8ad4ff;
						}
						}
						&.instagram
						{
							font-size: 30px;
							position: relative;
							top: -7px;	
							&:hover
						{
							color: 	rgba(238,80,167,.7);
						}
						}


					}

				}
			}
		}

	}
	.line
	{
		height: 1px ;
		width: 100%;
		background: $line;
		clear: both;
	}

	//search bar
	.header-search
	{
		padding: 10px 0 0 0;
		
		width: 100%;
			.search
			{
				button
				{
					padding: 0;
					margin:0;
					font-size: 23px;
					background: transparent;
					border:0;
					color: #2a3147;
					&:focus
					{
						outline: 0;
					}
					&:hover
					{

					}
				}
				input{
					font-size:16px; 
					top: -2px;
					position: relative;
					border:0;
					font-family: Arial;
					font-weight: normal;
					color:  #2a3147;
					padding: 0px 10px ;

					&:focus
					{
						outline: 0;
					}
					&::-webkit-input-placeholder
					{
						color: #d1d7e8;
						font-weight: 500px;
					}
				}
			}
	}
//navbar
.navbar
{
.logo
{
	width: 100%;
	padding:  0px 0px 7px 0px;
	.logo-area
	{
		height: 90px;
		width: 90px;
		left: 0;
		right: 0;
		padding: 0px;
		box-sizing:border-box;
		margin: 0 auto;
		img
		{
			width: 100%;
			height: 100%;
			object-fit:cover;
		}
	}

}
nav
	{
		padding: 16px 0;
		width: 100%;
		ul
		{
		
			clear: both;
			left: 0;
			align-items:center;
			align-content:ceter;
			justify-content:center;
			right: 0;
			margin: 0 auto;
			display: flex;
			li
			{
				padding: 0 30px;
				float: left;
				a
				{
					text-decoration: none;
					font-size: 22px;
					font-family: Playfair;
					font-weight: bold;
					color: #2a3147;
				}
			}
			.search-tablet
			{
				display: none;
			}
		}
	}
}




}

//section area

//banner

section.banner
{
	width: 100%;
	height: auto;
	position: relative;

	.banner-media
	{
		
		padding: 100px 0;
		.banner-content
		{
			@include overflow(hidden);
			position: relative;
			.banner-image
			{
				width: 100%;
				height: 100%;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				position: absolute;
				padding: 20px;
				z-index: 9;
			}
			img
			{
				width: 100%;
				height: 100%;
				object-fit:cover;

			}
			.colection-container
			{
				display: block;
				box-sizing:boder-box;
				width: 100%;
				overflow: hidden;
				height: 100%;
				position: relative;
			}
			.collection
			{
				position: absolute;
				right: 20px;
				bottom: 20px;
				p
				{
				
					text-align: right;	
					color: #fff;
					font-family: Playfair;
					line-height: .9;
					font-weight: bold;
				}
			}
		}
		float: left;
		&.man{
			width: 55%;
			opacity:1;
			@include box-shadow(0px 0px 29px 1px rgba(0,0,0,0.3));
			padding: 0px;
			box-sizing:border-box;
			height: 700px;
			z-index: 999;
			p{
					font-size: 55px;
			}
			.banner-content
			{

				height: 100%;
			}
		}
		&.woman
		{
			width: 45%;
			height: 700px;
			padding: 30px 0;
			box-sizing:border-box;
			p
			{
				font-size: 47px;
			}
			.banner-content
			{
				height: 100%;
				z-index: -1;
			}


		}
	}
}


//section soes type


.shoes-type
{
	overflow: hidden;
	padding:  20px 0;
	padding-top: 50px;

	div[role=tabpanel]
	{
		width: 100% !important;
		.tab-navbar
		{
			align-items:center;
			left: 0;
			margin: 0 auto;
			right: 0;

		.nav-tabs
		{
			
			left: 0;
			right: 0;
			margin:0 auto !important;
			border-bottom: 0px !important;
			justify-content:center;
			align-items:center;
			display: flex;
			align-content:center;
			
			overflow: hidden;
			clear: both;

			li
			{
				padding: 0px 5px;
				margin: 0px 10px;
				border:0;
				&:hover>a
				{
					background: transparent;
				}
				a
				{
					border: 0px;
					text-transform: capitalize;
					font-weight: bold;
					font-family: $Playfair;
					font-size: 18px;
					text-decoration: none;
					border-bottom: 3px solid transparent;
					 letter-spacing: 0.6px;
					color: #2a3147;
				}

				&.active > a
				{
					border-bottom: 3px solid  #2a3147;

					
					
				}
			}
		}
	}
	}


}


.tab-pane
{
	padding: 20px 0;
	.item-list{
		padding: 20px 0;
		cursor: pointer;
		a
		{
			text-decoration: none;
		}
	
		&:hover
		{
			.line-area
			{
				background: #2a3147;
			}
		}

		.container-fluid
		{
			padding: 0px 25px !important;
		}
		.image-area
		{
			overflow: hidden;
			height: 250px;
			padding: 40px 30px;
			overflow: hidden;
			clear: both;
			align-items:center;
			display: flex;

			img
			{
				left: 0;
				right: 0;
				margin: 0 auto;
				display: flex;
				width: 90%;



			}
		}
		.line-area
		{
			height: 1.8px;
			width: 100%;
			background:  #e5eaf6;
				@include transition(.2s ease-in-out);
			margin: 2px 0;
			clear: both;
			position: relative;
		}
		.price-area
		{
			overflow: hidden;
			padding: 20px 0;
			p
			{
				font-size: 16px;
				letter-spacing: 0.5px;
				font-weight: bold;
				font-family: $Playfair;
				color: #2a3147;
				&.shoes-name
				{

				}
				&.shoes-price
				{
					font-style: italic;
				}
			}
		}
	}
}

.more-product
{
	width: 100%;
	display: block;
	overflow: hidden;
	padding: 40px 0;
	.to-center{
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 200px;
		button
		{
			left: 0;
			right: 0;
			display: flex;
			border: solid 1px #979797;
			padding: 10px 30px;
			overflow: hidden;
			margin: 0 auto;
			border-radius: 5px;
			background: transparent;
			color:  #2a3147;
			font-family: $Playfair;
			letter-spacing: 0.5px;
			@include transition(.2s ease-in-out);
			font-size: 14px;
			&:hover
			{
				color: #fff;
				background:  #979797;

			}
			&:focus
			{
				outline: 0;
			}
		}
	}
}

.perfect-shoes
{

background: url(../images/bg-images.png);

	.bg-img-perfect
	{
			padding-top: 200px;
	padding-bottom: 200px;
		//background-color: rgba(42, 49, 71, 0.7);
		background-position: center;
		background-size: cover;
	
	.perfect
	{
		font-size: 55px;
		line-height: .9;
		font-family: $Playfair;
		color: #fff;
		text-align: left;

	}}
}



//footer


footer
{
	overflow: hidden;

	.footer-contact
	{
		padding: 30px 0 30px 0 ;
		overflow: hidden;

		.footer-logo
		{
			height: 65px;
			width: 65px;
			overflow: hidden;
			img
			{
				width: 100%;

			}
		}

		.contact-list
		{
			height: 65px;
			align-items:center;
			padding-top: 10px;
			padding-left: 70px;

			.list-opt
			{
				padding: 0px 25px;

				i
				{
					font-size: 22px;
					position: relative;
					top:1.2px;
					color: #8d97b5;
				}
				span
				{
					font-size: 16px;
					font-family: Helvetica;
					position: relative;
					padding: 0px 10px
				}
			}

		}


		.list-icon
		{
			padding:  20px 0 10px 0;
			ul
			{

				li
				{
					float: left;
					padding:  0px  8px ;
					a
					{
						text-decoration: none;
						color: $devault-icon;
						transition:.2s ease;
						&.facebook
						{
							font-size: 26px;
							&:hover
						{
							color: rgba(79,101,178,.7);
							
						}
						}
						&.twitter
						{
							font-size: 26px;
							&:hover
						{
							color: #8ad4ff;
						}
						}
						&.instagram
						{
							font-size: 30px;
							position: relative;
							top: -7px;	
							&:hover
						{
							color: 	rgba(238,80,167,.7);
						}
						}


					}
				}
			}
		}
	}

.footer-copy
{
	background: #2a3147;
	padding:  32px 0 36px 0;
	width: 100%;
	clear: both;
	color:  #8d97b5;

}
}


@media screen and (min-width: 1446px) {
	body
	{
		width: 1446px;
		left: 0;
		right: 0;
		@include overflow-x(hidden);
		box-sizing:border-box;
		margin: 0 auto;
	}
}

@media screen and (max-width: 768px) {
	header
	{
		background: #fff;
	}
	header .navbar{
		position: relative;
		background: #fff;
		clear: both;
		width: 100%;

	}

	header .header-search .search 
	{
		display: none;
	}
	header .navbar .logo
	{
		width: auto !important; 
		position: absolute;
		top: 0;
		left: 0;
		height: 60px;
		background: #ffffff;
		width: 100% !important;
		z-index: 9;
		.logo-area
		{
			width: 60px;
			height: 60px;
			float: left;


		}
	}
	header .navbar
	{
		z-index: 99999;
		background: #ffffff;
		clear: both;


	 nav
	{
		top: 50px;
		height: auto;
		background: #fff;
		position: absolute;
		z-index: 0;
		left: 0;
		clear: both;
		@include box-shadow(0px 6px 24px 0px rgba(0,0,0,0.2));
		//border:1px solid $line;
		border-top: 0px solid transparent;
		right: 0;
		margin:0  auto;
		display: none;
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
		ul
		{
			width: 100%;
			display: block;
			background: #fff;
			margin-top: 0px;
			li
			{
				float:  none;
				padding: 5px 5px;
				clear: both;
				a
				{
					font-size: 17px;
				}

				form {
					padding: 0;
					label
				{
					width: 100%;
					clear: both;
					overflow: hidden;
					margin: 0 !important;
					padding: 0 !important;
	


					button
					{
						padding:5px;
						position: absolute;
						left: 0;
						top: 2px;
						background: transparent;
						border:0;
						font-size: 21px;
						top: 15px;
						&:focus
						{
							outline: 0;
						}
					}

					input
					{
						color: #797C82;
						width: 100%;
						border:0;
						margin-left: 25px;
						font-weight: normal;
						padding: 3px 0;
						font-size: 16px;
						&:focus
						{
							outline: 0;
						}
						&::-webkit-input-placeholder
					{
						color: #d1d7e8;
						font-weight: 500px;
					}
					}
				}}
			}
			.search-tablet
			{
				display: block;
			}

		}
	}


}


	//banner tablet


	section.banner
	{
		display: block;
		overflow: hidden;
		position: relative;
		.banner-media
		{
		 width: 100% !important;
		}
	}
	section.banner .banner-media.man
	{
 height: 570px;
	}

	section.banner .banner-media.woman
	{
		padding: 0px 30px;
		height: 570px;
	}
section.banner .banner-media.man p
{
	font-size: 50px;
}

section.banner .banner-media.woman p
{
	font-size: 43px;
}


	.logo-expand
	{
		width: 100%;

		.footer-logo
		{
			float: none !important;
			left: 0;
			right: 0;
			display: flex;
			margin:0 auto; 	
		}
	}
	footer .footer-contact .contact-list
	{
		padding-left: 0px;

		.list-opt .phone
		{
			padding: 0 20px;
		}

	}
}

@media screen and (max-width: 700px)
{

	section.banner .banner-media.man
	{
 height: 580px;
	}

	section.banner .banner-media.woman
	{
		padding: 0px 25px;
		height: 580px;
	}
	section.banner .banner-media.man p
	{
		font-size: 48px;
	}
	section.banner .banner-media.woman p
	{
		font-size: 40px;
	}

	.footer-copy
	{
		.copyright , .powered
		{
			width: 100%;
			clear: both;
			float:  none !important;
			text-align: center;
		}
		 .powered
		 {
		 	padding-top: 10px;
		 }
	}
}


@media screen and (max-width: 600px)
{section.banner .banner-media.man
	{
 height: 550px;
	}

	section.banner .banner-media.woman
	{
		padding: 0px 23px;
		height: 550px;
	}
	section.banner .banner-media.man p
	{
		font-size: 45px;
	}
	section.banner .banner-media.woman p
	{
		font-size: 38px;
	}

	footer .footer-contact .act-contact
	{
		float: none !important;
		width: 100%;
		clear: both;

	}
footer .footer-contact .contact-list
	{
		clear: both;
		float: none !important;
		justify-content:center;
		margin:0 auto;
		align-items:center;
		align-content:center;
		display: flex;
		left: 0;
		right: 0;
		overflow: hidden;
		opacity:.9;

	}	

	footer .footer-contact .icon-data
	{
		width: 100% !important;
		clear: both;
		float: none !important;
		ul
		{
		float: none;
		left: 0;
		right: 0;
		align-items:center;
		align-content:center;
		justify-content:center;
		display: flex;
		margin: 0 auto;
		clear: both;
	}
	}
	footer .footer-contact .list-icon ul li a.instagram
	{
		top: 0;
	}
}

@media screen and (max-width: 550px)
{
	section.banner .banner-media.man
	{
 height: 400px;
	}

	section.banner .banner-media.woman
	{
		padding: 0px 23px;
		height: 400px;
	}
	section.banner .banner-media.man p
	{
		font-size: 42px;
	}
	section.banner .banner-media.woman p
	{
		font-size: 34px;
	}

	.perfect-shoes .bg-img-perfec
	{
		padding-top: 180px;
		padding-bottom: 180px;
	}
	.perfect-shoes .bg-img-perfect .perfect
	{
		font-size: 45px;
	}
	footer .footer-contact .contact-list
	{
		clear: both;
		float: none !important;
		justify-content:center;
		margin:0 auto;
		align-items:center;
		align-content:center;
		display: block;
		left: 0;
		right: 0;
		overflow: visible;
		opacity:.9;

	}
	footer .footer-contact .contact-list .list-opt
	{
		float: none !important;
		clear: both;
		display: flex;
		margin:0 auto;
		left: 0;
		right: 0;
		align-items:center;
		align-content:center;
		justify-content:center;
		overflow: hidden;

	}
}

@media screen and (max-width: 470px)
{
	section.banner .banner-media.man
	{
 height: 300px;
	}

	section.banner .banner-media.woman
	{
		padding: 0px 19px;
		height: 300px;
	}
	section.banner .banner-media.man p
	{
		font-size: 40px;
	}
	section.banner .banner-media.woman p
	{
		font-size: 34px;
	}


	footer .footer-contact .list-icon
	{
		padding-top: 32px;
	}

	section.banner .banner-media.man
	{
 height: 350px;
	}

	section.banner .banner-media.woman
	{
		padding: 0px 30px;
		height: 350px;
	}
}