@import url(component.css);
header .top-header {
  height: auto;
  width: 100%; }
  header .top-header .list-icon {
    padding: 20px 0 10px 0; }
    header .top-header .list-icon ul li {
      float: left;
      padding: 0px 8px; }
      header .top-header .list-icon ul li a {
        text-decoration: none;
        color: #e5eaf6;
        transition: .2s ease; }
        header .top-header .list-icon ul li a.facebook {
          font-size: 26px; }
          header .top-header .list-icon ul li a.facebook:hover {
            color: rgba(79, 101, 178, 0.7); }
        header .top-header .list-icon ul li a.twitter {
          font-size: 26px; }
          header .top-header .list-icon ul li a.twitter:hover {
            color: #8ad4ff; }
        header .top-header .list-icon ul li a.instagram {
          font-size: 30px;
          position: relative;
          top: -7px; }
          header .top-header .list-icon ul li a.instagram:hover {
            color: rgba(238, 80, 167, 0.7); }
header .line {
  height: 1px;
  width: 100%;
  background: #e5eaf6;
  clear: both; }
header .header-search {
  padding: 10px 0 0 0;
  width: 100%; }
  header .header-search .search button {
    padding: 0;
    margin: 0;
    font-size: 23px;
    background: transparent;
    border: 0;
    color: #2a3147; }
    header .header-search .search button:focus {
      outline: 0; }
  header .header-search .search input {
    font-size: 16px;
    top: -2px;
    position: relative;
    border: 0;
    font-family: Arial;
    font-weight: normal;
    color: #2a3147;
    padding: 0px 10px; }
    header .header-search .search input:focus {
      outline: 0; }
    header .header-search .search input::-webkit-input-placeholder {
      color: #d1d7e8;
      font-weight: 500px; }
header .navbar .logo {
  width: 100%;
  padding: 0px 0px 7px 0px; }
  header .navbar .logo .logo-area {
    height: 90px;
    width: 90px;
    left: 0;
    right: 0;
    padding: 0px;
    box-sizing: border-box;
    margin: 0 auto; }
    header .navbar .logo .logo-area img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
header .navbar nav {
  padding: 16px 0;
  width: 100%; }
  header .navbar nav ul {
    clear: both;
    left: 0;
    align-items: center;
    align-content: ceter;
    justify-content: center;
    right: 0;
    margin: 0 auto;
    display: flex; }
    header .navbar nav ul li {
      padding: 0 30px;
      float: left; }
      header .navbar nav ul li a {
        text-decoration: none;
        font-size: 22px;
        font-family: Playfair;
        font-weight: bold;
        color: #2a3147; }
    header .navbar nav ul .search-tablet {
      display: none; }

section.banner {
  width: 100%;
  height: auto;
  position: relative; }
  section.banner .banner-media {
    padding: 100px 0;
    float: left; }
    section.banner .banner-media .banner-content {
      overflow: hidden;
      -moz-overflow: hidden;
      -o-overflow: hidden;
      -webkit-overflow: hidden;
      -ms-overflow: hidden;
      position: relative; }
      section.banner .banner-media .banner-content .banner-image {
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        position: absolute;
        padding: 20px;
        z-index: 9; }
      section.banner .banner-media .banner-content img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      section.banner .banner-media .banner-content .colection-container {
        display: block;
        box-sizing: boder-box;
        width: 100%;
        overflow: hidden;
        height: 100%;
        position: relative; }
      section.banner .banner-media .banner-content .collection {
        position: absolute;
        right: 20px;
        bottom: 20px; }
        section.banner .banner-media .banner-content .collection p {
          text-align: right;
          color: #fff;
          font-family: Playfair;
          line-height: .9;
          font-weight: bold; }
    section.banner .banner-media.man {
      width: 55%;
      opacity: 1;
      box-shadow: 0px 0px 29px 1px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 0px 29px 1px rgba(0, 0, 0, 0.3);
      -o-box-shadow: 0px 0px 29px 1px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0px 0px 29px 1px rgba(0, 0, 0, 0.3);
      -ms-box-shadow: 0px 0px 29px 1px rgba(0, 0, 0, 0.3);
      padding: 0px;
      box-sizing: border-box;
      height: 700px;
      z-index: 999; }
      section.banner .banner-media.man p {
        font-size: 55px; }
      section.banner .banner-media.man .banner-content {
        height: 100%; }
    section.banner .banner-media.woman {
      width: 45%;
      height: 700px;
      padding: 30px 0;
      box-sizing: border-box; }
      section.banner .banner-media.woman p {
        font-size: 47px; }
      section.banner .banner-media.woman .banner-content {
        height: 100%;
        z-index: -1; }

.shoes-type {
  overflow: hidden;
  padding: 20px 0;
  padding-top: 50px; }
  .shoes-type div[role=tabpanel] {
    width: 100% !important; }
    .shoes-type div[role=tabpanel] .tab-navbar {
      align-items: center;
      left: 0;
      margin: 0 auto;
      right: 0; }
      .shoes-type div[role=tabpanel] .tab-navbar .nav-tabs {
        left: 0;
        right: 0;
        margin: 0 auto !important;
        border-bottom: 0px !important;
        justify-content: center;
        align-items: center;
        display: flex;
        align-content: center;
        overflow: hidden;
        clear: both; }
        .shoes-type div[role=tabpanel] .tab-navbar .nav-tabs li {
          padding: 0px 5px;
          margin: 0px 10px;
          border: 0; }
          .shoes-type div[role=tabpanel] .tab-navbar .nav-tabs li:hover > a {
            background: transparent; }
          .shoes-type div[role=tabpanel] .tab-navbar .nav-tabs li a {
            border: 0px;
            text-transform: capitalize;
            font-weight: bold;
            font-family: "Playfair Display", serif;
            font-size: 18px;
            text-decoration: none;
            border-bottom: 3px solid transparent;
            letter-spacing: 0.6px;
            color: #2a3147; }
          .shoes-type div[role=tabpanel] .tab-navbar .nav-tabs li.active > a {
            border-bottom: 3px solid  #2a3147; }

.tab-pane {
  padding: 20px 0; }
  .tab-pane .item-list {
    padding: 20px 0;
    cursor: pointer; }
    .tab-pane .item-list a {
      text-decoration: none; }
    .tab-pane .item-list:hover .line-area {
      background: #2a3147; }
    .tab-pane .item-list .container-fluid {
      padding: 0px 25px !important; }
    .tab-pane .item-list .image-area {
      overflow: hidden;
      height: 250px;
      padding: 40px 30px;
      overflow: hidden;
      clear: both;
      align-items: center;
      display: flex; }
      .tab-pane .item-list .image-area img {
        left: 0;
        right: 0;
        margin: 0 auto;
        display: flex;
        width: 90%; }
    .tab-pane .item-list .line-area {
      height: 1.8px;
      width: 100%;
      background: #e5eaf6;
      -webkit-transition: 0.2s ease-in-out;
      -moz-transition: 0.2s ease-in-out;
      -o-transition: 0.2s ease-in-out;
      -ms-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out;
      margin: 2px 0;
      clear: both;
      position: relative; }
    .tab-pane .item-list .price-area {
      overflow: hidden;
      padding: 20px 0; }
      .tab-pane .item-list .price-area p {
        font-size: 16px;
        letter-spacing: 0.5px;
        font-weight: bold;
        font-family: "Playfair Display", serif;
        color: #2a3147; }
        .tab-pane .item-list .price-area p.shoes-price {
          font-style: italic; }

.more-product {
  width: 100%;
  display: block;
  overflow: hidden;
  padding: 40px 0; }
  .more-product .to-center {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 200px; }
    .more-product .to-center button {
      left: 0;
      right: 0;
      display: flex;
      border: solid 1px #979797;
      padding: 10px 30px;
      overflow: hidden;
      margin: 0 auto;
      border-radius: 5px;
      background: transparent;
      color: #2a3147;
      font-family: "Playfair Display", serif;
      letter-spacing: 0.5px;
      -webkit-transition: 0.2s ease-in-out;
      -moz-transition: 0.2s ease-in-out;
      -o-transition: 0.2s ease-in-out;
      -ms-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out;
      font-size: 14px; }
      .more-product .to-center button:hover {
        color: #fff;
        background: #979797; }
      .more-product .to-center button:focus {
        outline: 0; }

.perfect-shoes {
  background: url(../images/bg-images.png); }
  .perfect-shoes .bg-img-perfect {
    padding-top: 200px;
    padding-bottom: 200px;
    background-position: center;
    background-size: cover; }
    .perfect-shoes .bg-img-perfect .perfect {
      font-size: 55px;
      line-height: .9;
      font-family: "Playfair Display", serif;
      color: #fff;
      text-align: left; }

footer {
  overflow: hidden; }
  footer .footer-contact {
    padding: 30px 0 30px 0;
    overflow: hidden; }
    footer .footer-contact .footer-logo {
      height: 65px;
      width: 65px;
      overflow: hidden; }
      footer .footer-contact .footer-logo img {
        width: 100%; }
    footer .footer-contact .contact-list {
      height: 65px;
      align-items: center;
      padding-top: 10px;
      padding-left: 70px; }
      footer .footer-contact .contact-list .list-opt {
        padding: 0px 25px; }
        footer .footer-contact .contact-list .list-opt i {
          font-size: 22px;
          position: relative;
          top: 1.2px;
          color: #8d97b5; }
        footer .footer-contact .contact-list .list-opt span {
          font-size: 16px;
          font-family: Helvetica;
          position: relative;
          padding: 0px 10px; }
    footer .footer-contact .list-icon {
      padding: 20px 0 10px 0; }
      footer .footer-contact .list-icon ul li {
        float: left;
        padding: 0px 8px; }
        footer .footer-contact .list-icon ul li a {
          text-decoration: none;
          color: #e5eaf6;
          transition: .2s ease; }
          footer .footer-contact .list-icon ul li a.facebook {
            font-size: 26px; }
            footer .footer-contact .list-icon ul li a.facebook:hover {
              color: rgba(79, 101, 178, 0.7); }
          footer .footer-contact .list-icon ul li a.twitter {
            font-size: 26px; }
            footer .footer-contact .list-icon ul li a.twitter:hover {
              color: #8ad4ff; }
          footer .footer-contact .list-icon ul li a.instagram {
            font-size: 30px;
            position: relative;
            top: -7px; }
            footer .footer-contact .list-icon ul li a.instagram:hover {
              color: rgba(238, 80, 167, 0.7); }
  footer .footer-copy {
    background: #2a3147;
    padding: 32px 0 36px 0;
    width: 100%;
    clear: both;
    color: #8d97b5; }

@media screen and (min-width: 1446px) {
  body {
    width: 1446px;
    left: 0;
    right: 0;
    overflow-x: hidden;
    -moz-overflow-x: hidden;
    -o-overflow-x: hidden;
    -webkit-overflow-x: hidden;
    -ms-overflow-x: hidden;
    box-sizing: border-box;
    margin: 0 auto; } }
@media screen and (max-width: 768px) {
  header {
    background: #fff; }

  header .navbar {
    position: relative;
    background: #fff;
    clear: both;
    width: 100%; }

  header .header-search .search {
    display: none; }

  header .navbar .logo {
    width: auto !important;
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    background: #ffffff;
    width: 100% !important;
    z-index: 9; }
    header .navbar .logo .logo-area {
      width: 60px;
      height: 60px;
      float: left; }

  header .navbar {
    z-index: 99999;
    background: #ffffff;
    clear: both; }
    header .navbar nav {
      top: 50px;
      height: auto;
      background: #fff;
      position: absolute;
      z-index: 0;
      left: 0;
      clear: both;
      box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
      -o-box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
      -ms-box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
      border-top: 0px solid transparent;
      right: 0;
      margin: 0  auto;
      display: none;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px; }
      header .navbar nav ul {
        width: 100%;
        display: block;
        background: #fff;
        margin-top: 0px; }
        header .navbar nav ul li {
          float: none;
          padding: 5px 5px;
          clear: both; }
          header .navbar nav ul li a {
            font-size: 17px; }
          header .navbar nav ul li form {
            padding: 0; }
            header .navbar nav ul li form label {
              width: 100%;
              clear: both;
              overflow: hidden;
              margin: 0 !important;
              padding: 0 !important; }
              header .navbar nav ul li form label button {
                padding: 5px;
                position: absolute;
                left: 0;
                top: 2px;
                background: transparent;
                border: 0;
                font-size: 21px;
                top: 15px; }
                header .navbar nav ul li form label button:focus {
                  outline: 0; }
              header .navbar nav ul li form label input {
                color: #797C82;
                width: 100%;
                border: 0;
                margin-left: 25px;
                font-weight: normal;
                padding: 3px 0;
                font-size: 16px; }
                header .navbar nav ul li form label input:focus {
                  outline: 0; }
                header .navbar nav ul li form label input::-webkit-input-placeholder {
                  color: #d1d7e8;
                  font-weight: 500px; }
        header .navbar nav ul .search-tablet {
          display: block; }

  section.banner {
    display: block;
    overflow: hidden;
    position: relative; }
    section.banner .banner-media {
      width: 100% !important; }

  section.banner .banner-media.man {
    height: 570px; }

  section.banner .banner-media.woman {
    padding: 0px 30px;
    height: 570px; }

  section.banner .banner-media.man p {
    font-size: 50px; }

  section.banner .banner-media.woman p {
    font-size: 43px; }

  .logo-expand {
    width: 100%; }
    .logo-expand .footer-logo {
      float: none !important;
      left: 0;
      right: 0;
      display: flex;
      margin: 0 auto; }

  footer .footer-contact .contact-list {
    padding-left: 0px; }
    footer .footer-contact .contact-list .list-opt .phone {
      padding: 0 20px; } }
@media screen and (max-width: 700px) {
  section.banner .banner-media.man {
    height: 580px; }

  section.banner .banner-media.woman {
    padding: 0px 25px;
    height: 580px; }

  section.banner .banner-media.man p {
    font-size: 48px; }

  section.banner .banner-media.woman p {
    font-size: 40px; }

  .footer-copy .copyright, .footer-copy .powered {
    width: 100%;
    clear: both;
    float: none !important;
    text-align: center; }
  .footer-copy .powered {
    padding-top: 10px; } }
@media screen and (max-width: 600px) {
  section.banner .banner-media.man {
    height: 550px; }

  section.banner .banner-media.woman {
    padding: 0px 23px;
    height: 550px; }

  section.banner .banner-media.man p {
    font-size: 45px; }

  section.banner .banner-media.woman p {
    font-size: 38px; }

  footer .footer-contact .act-contact {
    float: none !important;
    width: 100%;
    clear: both; }

  footer .footer-contact .contact-list {
    clear: both;
    float: none !important;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    align-content: center;
    display: flex;
    left: 0;
    right: 0;
    overflow: hidden;
    opacity: .9; }

  footer .footer-contact .icon-data {
    width: 100% !important;
    clear: both;
    float: none !important; }
    footer .footer-contact .icon-data ul {
      float: none;
      left: 0;
      right: 0;
      align-items: center;
      align-content: center;
      justify-content: center;
      display: flex;
      margin: 0 auto;
      clear: both; }

  footer .footer-contact .list-icon ul li a.instagram {
    top: 0; } }
@media screen and (max-width: 550px) {
  section.banner .banner-media.man {
    height: 400px; }

  section.banner .banner-media.woman {
    padding: 0px 23px;
    height: 400px; }

  section.banner .banner-media.man p {
    font-size: 42px; }

  section.banner .banner-media.woman p {
    font-size: 34px; }

  .perfect-shoes .bg-img-perfec {
    padding-top: 180px;
    padding-bottom: 180px; }

  .perfect-shoes .bg-img-perfect .perfect {
    font-size: 45px; }

  footer .footer-contact .contact-list {
    clear: both;
    float: none !important;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    align-content: center;
    display: block;
    left: 0;
    right: 0;
    overflow: visible;
    opacity: .9; }

  footer .footer-contact .contact-list .list-opt {
    float: none !important;
    clear: both;
    display: flex;
    margin: 0 auto;
    left: 0;
    right: 0;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: hidden; } }
@media screen and (max-width: 470px) {
  section.banner .banner-media.man {
    height: 300px; }

  section.banner .banner-media.woman {
    padding: 0px 19px;
    height: 300px; }

  section.banner .banner-media.man p {
    font-size: 40px; }

  section.banner .banner-media.woman p {
    font-size: 34px; }

  footer .footer-contact .list-icon {
    padding-top: 32px; }

  section.banner .banner-media.man {
    height: 350px; }

  section.banner .banner-media.woman {
    padding: 0px 30px;
    height: 350px; } }

/*# sourceMappingURL=main.style.css.map */
